.options_container {
  padding: 40px 13% 80px 13%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img {
  width: 115px;
  height: 138px;
  /* background: rgb(13, 13, 122);
  background: linear-gradient(
    90deg,
    rgba(13, 13, 122, 1) 30%,
    rgba(11, 156, 210, 1) 100%
  ); */
  border-radius: 50px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  transition-duration: 300ms;
  cursor: pointer;
  object-fit: cover;
}

.img.active {
  /* width: 120px;
  height: 120px; */
  border-radius: 60px;
  border-style: solid;
  border-color: #ebae48;
  transform: scale(1.1);
  border-width: 4px;
}

.img:hover {
  transform: scale(1.1);
  transition-duration: 300ms;
  border-radius: 60px;
  object-fit: cover;
}

.option_item p {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}
